.common-section {
  background-color: var(--bg-level-3);
  border-radius: var(--radius-medium);
  padding: var(--space-md);
  margin-bottom: var(--space-xl);
  border: 1px solid var(--border-standard);
}

.common-section-title {
  margin: 0 0 var(--space-md) 0;
  color: var(--text-tertiary);
  font-family: var(--font-primary);
  font-size: var(--text-subtitle);
  font-weight: 500;
}

.common-section-subtitle {
  margin: 0 0 var(--space-sm) 0;
  color: var(--text-tertiary);
  font-family: var(--font-primary);
  font-size: var(--text-body);
  font-weight: 500;
}

.common-section-content {
  font-family: var(--font-primary);
  font-size: var(--text-body);
  color: var(--text-primary);
}